<header id="page-topbar">
  <div class="navbar-header">

    <div style="width: 300px;">
      <div class="form-group">
        <input type="search" class="form-control input-sm" placeholder="Search for Products..."
          style="border: 0; border-radius: 20px; background-color: rgb(240, 240, 240);" [(ngModel)]="entredSearchValue"
          (keyup)="onSearchTextChanged()" />
      </div>
    </div>

    <div class="d-flex">
      <div class="mx-2">
        <i class="far fa-user"></i>
      </div>

      <div class="mx-2">
        <a class="text-decoration-none text-dark" (click)="logout()" href="">Sign out</a>
      </div>

      <div class="vr"></div>

      <div class="mx-2">
        <a class="text-decoration-none text-dark">{{authService.getUserName()}}</a>
      </div>
    </div>
  </div>
</header>