#page-topbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 250px;
    z-index: 1002;
    background-color: #fff;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    margin-left: 30px;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: auto auto;
    height: 70px;
    padding: 0 12px 0 0;
    margin-left: 30px;
}