<ng-container *ngIf="last_article.length==3">
    <!-- Latest Products -->
    <div class="row mt-4 mx-auto">
        <div class="col-md-11 mx-4">
            <div class="card shadow-sm">

                <div class="card-header">
                    Latest product information
                </div>

                <div class="my-5 row">
                    <div *ngFor="let article of last_article" class="col-md-4">
                        <div class="card HOVER">

                            <div class="d-flex justify-content-between p-3">
                                <p class="lead mb-0">{{article.nomArticle}}</p>
                                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                                    style="width: 35px; height: 35px;">
                                    <p class="text-white mb-0 small">x{{article.qteStock}}</p>
                                </div>
                            </div>

                            <a [routerLink]="['/dettails', article.id]" (click)="scroll('navb')">
                                <img src="{{ imageDirectory }}{{ article.image }}" class="card-img-top" alt="Laptop"
                                    style="width: 240px; height: 243px;" />
                            </a>
                            <div class="card-body">
                                <div class="">
                                    <div *ngFor="let categorie of categories">
                                        <p *ngIf="categorie.id == article.categorie_id" class="small"><a href="#!"
                                                class="text-muted">{{categorie.nomCategorie}}</a></p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">{{article.nomArticle}}</h5>
                                    <h5 class="text-dark mb-0">$ {{article.prixUnitaire}}</h5>
                                </div>
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="text-muted mb-0">Available: <span
                                            class="fw-bold">{{article.qteStock}}</span>
                                    </p>
                                    <span> <a [routerLink]="['/dettails', article.id]"><i
                                                class="fa-solid fa-eye"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<!-- Display By Category -->
<div class="row mt-4 mx-auto" >
    <section id="toutPro">
        <div *ngFor="let categorie of categories" class="col-md-11 mx-4">
            <div class="card shadow-sm mb-3">

                <div class="card-header" [attr.id]="'categorie' + categorie.id">
                    {{categorie.nomCategorie}}
                </div>

                <div class="my-5 row">
                    <ng-container *ngFor="let article of articles">

                        <!-- Products -->
                        <ng-container *ngIf="article.categorie_id == categorie.id">

                            <div class="col-md-4">


                                <div class="card HOVER mb-3 ">

                                    <div class="d-flex justify-content-between p-3">
                                        <p class="lead mb-0">{{article.nomArticle}}</p>
                                        <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                                            style="width: 35px; height: 35px;">
                                            <p class="text-white mb-0 small">x{{article.qteStock}}</p>
                                        </div>
                                    </div>

                                    <a [routerLink]="['/dettails', article.id]">
                                        <img src="{{ imageDirectory }}{{ article.image }}" class="card-img-top"
                                            alt="{{ article.image }}" style="width: 240px; height: 243px;" />
                                    </a>
                                    <div class="card-body">
                                        <div class="">
                                            <div *ngFor="let categorie of categories">
                                                <p *ngIf="categorie.id == article.categorie_id" class="small"><a
                                                        href="#!" class="text-muted">{{categorie.nomCategorie}}</a></p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0">{{article.nomArticle}}</h5>
                                            <h5 class="text-dark mb-0">$ {{article.prixUnitaire}}</h5>
                                        </div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <p class="text-muted mb-0">Available: <span
                                                    class="fw-bold">{{article.qteStock}}</span>
                                            </p>
                                            <span> <a [routerLink]="['/dettails', article.id]"><i
                                                        class="fa-solid fa-eye"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="H"></div>