<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<div class="top_bar">
    <div class="container ">
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="top_bar_contact_item">
                    <div class="top_bar_icon mx-4"><img
                            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt=""></div>
                    +91 9823 132 111
                </div>
                <div class="top_bar_contact_item">
                    <div class="top_bar_icon"><img
                            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt="">
                    </div><a href="electronico@contact.com">electronico@contact.com</a>
                </div>
                <div class="top_bar_content ml-auto">
                    <div class="top_bar_menu">
                        <ul class="standard_dropdown top_bar_dropdown">
                            <li> <a routerLink="">English<i class="fas fa-chevron-down"></i></a>
                                <!-- <ul>
                                            <li><a href="#">French</a></li>
                                        </ul> -->
                            </li>
                            <li> <a routerLink="">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                <!-- <ul>
                                            <li><a href="#">EUR Euro</a></li>
                                            <li><a href="#">GBP British Pound</a></li>
                                            <li><a href="#">JPY Japanese Yen</a></li>
                                        </ul> -->
                            </li>
                        </ul>
                    </div>
                    <div class="top_bar_user">

                        <div class="user_icon">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg"
                                alt="user">
                        </div>

                        <div>
                            <a *ngIf="authService.status==0" routerLink="register">Register</a>
                        </div>

                        <div *ngIf="authService.Sign()">
                            <a *ngIf="authService.status==1" (click)="logout()" class="ffff">Sign out</a>
                        </div>
                        <div>
                            <a *ngIf="!authService.Sign()" routerLink="login">Sign in</a>
                        </div>

                        <div *ngIf="authService.Sign()">
                            <a *ngIf="authService.status==1" class="_user">{{authService.getUserName()}}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Header Main -->

<!-- <div class="header_main " > -->
<nav class="header_main">
    <div id="navbar_top" class="header_main" id="navb">
        <div class="container">
            <div class="row dis">
                <!-- Logo -->
                <div class="col-md-2">
                    <div class="logo_container mx-4">
                        <div class="logo"><a routerLink="/content">Electronic </a></div>
                    </div>
                </div> <!-- Search -->
                <div class="col-md-5">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form class="header_search_form clearfix">
                                    <input type="search" [(ngModel)]="searchTerm" name="searchTerm" required="required"
                                        class="header_search_input" placeholder="Search for products...">
                                    <button class="header_search_button trans_300" (click)="seartch('toutPro')"><img
                                            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png"
                                            alt="">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- Wishlist -->
                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <!-- Cart -->
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <a routerLink="cart" class="nav-link">
                                    <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                                    <div style="font-size: 10px;" class="badge bg-danger">{{cartService.lenghCart}}
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Main Navigation -->
</nav>

<nav class="main_nav sticky-top" id="navb">
    <div class="container">
        <div class="row">
            <div class="col-py-3">
                <div class="main_nav_content d-flex flex-row">

                    <div class="main_nav_menu" style="padding-left: 13px;">
                        <ul class="standard_dropdown main_nav_dropdown">
                            <li class="nav-item dropdown"> <a class="goToCategorie" RouterLink=""> <i
                                        class="bi bi-card-list"> </i>Categories <i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <ng-container *ngFor="let categorie of categories">
                                        <li><a class="goToCategorie"
                                                (click)="scroll('categorie'+categorie.id)">{{categorie.nomCategorie}}<i
                                                    class="fas fa-chevron-down"></i></a></li>
                                    </ng-container>

                                </ul>
                            </li>
                            <li><a (click)="scroll('footer')" class="goToCategorie">Blog<i
                                        class="fas fa-chevron-down"></i></a></li>

                            <li><a (click)="scroll('footer')" id="contact">Contact<i
                                        class="fas fa-chevron-down"></i></a></li>
                        </ul>
                    </div>
                    <div class="menu_trigger_container ml-auto">
                        <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                            <div class="menu_burger">
                                <div class="menu_trigger_text">menu</div>
                                <div class="cat_burger menu_burger_inner">
                                    <span></span><span></span><span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="page_menu"></div>